In [1]:
import pandas as pd

In [2]:
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Olympics-Dataset/master/athletes/bios.csv')

In [3]:
bios.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bios

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145495,Competed in Olympic Games,Female,Polina•Luchnikova,Polina•Luchnikova,"30 January 2002 in Serov, Sverdlovsk (RUS)",NaN,ROC,149222,167 cm / 61 kg,"Agidel, Ufa (RUS)",NaN,NaN,NaN,NaN,NaN,NaN
145496,Competed in Olympic Games,Female,Valeriya Sergeyevna•Merkusheva,Valeriya•Merkusheva,"20 September 1999 in Moskva (Moscow), Moskva (...",NaN,ROC,149223,168 cm / 65 kg,"SKIF Nizhny Novgorod, Nizhny Novgorod (RUS)",NaN,NaN,NaN,NaN,Валерия Сергеевна•Меркушева,NaN
145497,Competed in Olympic Games,Female,Yuliya•Smirnova,Yuliya•Smirnova,"8 May 1998 in Kotlas, Arkhangelsk (RUS)",NaN,ROC,149224,163 cm / 55 kg,"Agidel, Ufa (RUS)",NaN,NaN,NaN,NaN,Юлия•Смирнова,NaN
145498,Competed in Olympic Games,Male,André•Foussard,André•Foussard,"19 May 1899 in Niort, Deux-Sèvres (FRA)","18 March 1986 in Niort, Deux-Sèvres (FRA)",France,149225,166 cm,"Beauvoisine FC, Rouen (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
145499,Non-starter • Administrator,Male,"William Berge ""Bill""•Phillips",Bill•Phillips,"15 July 1913 in Dulwich Hill, New South Wales ...","20 October 2003 in Sydney, New South Wales (AUS)",Australia,149814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### What should we clean up?

- [x] Get rid of bullet points in Used Names
- [x] Split height/weight
- [x] Parse out dates from `Born` & `Died` column
- [x] Parse out city, region, and country from `Born` column
- [ ] Get rid of extra columns

In [5]:
df = bios.copy()

In [6]:
df['name'] = df['Used name'].str.replace("•", " ")

In [7]:
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,Jean Borotra
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Albert Canet

In [8]:
# Split the Measurements column into height & weight columns
df[['height_cm', 'weight_kg']] = df['Measurements'].str.split('/', expand=True)

In [9]:
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183 cm,76 kg
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,Jean Borotra,183 cm,76 kg
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon,168 cm,64 kg
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Albert Canet,NaN,NaN

In [10]:
# Get rid of " cm" and the " kg" from our new columns
df['height_cm'] = pd.to_numeric(df['height_cm'].str.strip(' cm'), errors='coerce')
df['weight_kg'] = pd.to_numeric(df['weight_kg'].str.strip(' kg'), errors='coerce')

In [11]:
df.sort_values('height_cm', ascending=False)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg
89070,Competed in Olympic Games • Other,Male,Yao•Ming,Yao•Ming,"12 September 1980 in Xuhui District, Shanghai ...",NaN,People's Republic of China,89782,226 cm / 141 kg,"Shanghai Sharks, Shanghai (CHN) / Houston Rock...",NaN,NaN,NaN,NaN,姚•明,Oriental,Yao Ming,226.0,141.0
5781,Competed in Olympic Games,Male,"Thomas Loren ""Tommy""•Burleson",Tommy•Burleson,"24 February 1952 in Crossnore, North Carolina ...",NaN,United States,5804,223 cm / 102 kg,"NC State Wolfpack, Raleigh (USA)",NaN,NaN,NaN,NaN,NaN,NaN,Tommy Burleson,223.0,102.0
6978,Competed in Olympic Games,Male,Arvydas Romas•Sabonis,Arvydas•Sabonis,"19 December 1964 in Kaunas, Kaunas (LTU)",NaN,Lithuania Soviet Union,7013,223 cm / 122 kg,"Žalgiris Kaunas, Kaunas (LTU) / Real Madrid, M...",Sabas,NaN,"Arvidas Romas Sabonis, Арвидас Ромас Сабонис",Lithuania,NaN,NaN,Arvydas Sabonis,223.0,122.0
89075,Competed in Olympic Games,Male,Roberto•Dueñas Hernández,Roberto•Dueñas,"1 November 1975 in Madrid, Madrid (ESP)",NaN,Spain,89787,221 cm / 137 kg,"FC Barcelona, Barcelona (ESP)",NaN,NaN,NaN,NaN,NaN,NaN,Roberto Dueñas,221.0,137.0
120266,Competed in Olympic Games,Male,Zhang•Zhaoxu,Zhang•Zhaoxu,"18 November 1987 in Binzhou, Shandong (CHN)",NaN,People's Republic of China,122147,221 cm / 110 kg,"Shanghai Sharks, Shanghai (CHN)",NaN,NaN,NaN,NaN,张•兆旭,Oriental,Zhang Zhaoxu,221.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145490,Competed in Olympic Games,Male,Sin•Ye-Chan,Sin•Ye-Chan,13 June 1995,NaN,Republic of Korea,149217,NaN,NaN,NaN,NaN,Shin Ye-Chan,NaN,신•예찬,Oriental,Sin Ye-Chan,NaN,NaN
145491,Competed in Olympic Games,Male,Matthew•Wepke,Matthew•Wepke,5 December 1989,NaN,Jamaica,149218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matthew Wepke,NaN,NaN
145492,Competed in Olympic Games,Male,Carlos•García-Ordóñez Montalvo,Carlos•García-Ordóñez,"24 April 1927 in La Habana (Havana), Ciudad de...","24 November 2019 in Miami, Florida (USA)",Cuba,149219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos García-Ordóñez,NaN,NaN
145493,Competed in Olympic Games,Female,Landysh Ilsurovna•Falyakhova,Landysh•Falyakhova,"31 August 1998 in Dva Polya Artash, Respublika...",NaN,ROC,149220,NaN,"SKIF Nizhny Novgorod, Nizhny Novgorod (RUS)",NaN,NaN,NaN,NaN,Ландыш Ильсуровна•Фаляхова,NaN,Landysh Falyakhova,NaN,NaN
145499,Non-starter • Administrator,Male,"William Berge ""Bill""•Phillips",Bill•Phillips,"15 July 1913 in Dulwich Hill, New South Wales ...","20 October 2003 in Sydney, New South Wales (AUS)",Australia,149814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bill Phillips,NaN,NaN

In [12]:
# Parse out dates from 'Born' and 'Died' columns
date_pattern = r'(\d+ \w+ \d{4}|\d{4})'
df['born_date'] = df['Born'].str.extract(date_pattern)
df['born_year'] = df['Born'].str.extract(r'(\d{4})')

In [13]:
df

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,...,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg,born_date,born_year
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,NaN,NaN,12 December 1886,1886
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183.0,76.0,1 April 1969,1969
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Jean Borotra,183.0,76.0,13 August 1898,1898
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon,168.0,64.0,11 May 1895,1895
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Albert Canet,NaN,NaN,17 April 1878,1878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145495,Competed in Olympic Games,Female,Polina•Luchnikova,Polina•Luchnikova,"30 January 2002 in Serov, Sverdlovsk (RUS)",NaN,ROC,149222,167 cm / 61 kg,"Agidel, Ufa (RUS)",...,NaN,NaN,NaN,NaN,NaN,Polina Luchnikova,167.0,61.0,30 January 2002,2002
145496,Competed in Olympic Games,Female,Valeriya Sergeyevna•Merkusheva,Valeriya•Merkusheva,"20 September 1999 in Moskva (Moscow), Moskva (...",NaN,ROC,149223,168 cm / 65 kg,"SKIF Nizhny Novgorod, Nizhny Novgorod (RUS)",...,NaN,NaN,NaN,Валерия Сергеевна•Меркушева,NaN,Valeriya Merkusheva,168.0,65.0,20 September 1999,1999
145497,Competed in Olympic Games,Female,Yuliya•Smirnova,Yuliya•Smirnova,"8 May 1998 in Kotlas, Arkhangelsk (RUS)",NaN,ROC,149224,163 cm / 55 kg,"Agidel, Ufa (RUS)",...,NaN,NaN,NaN,Юлия•Смирнова,NaN,Yuliya Smirnova,163.0,55.0,8 May 1998,1998
145498,Competed in Olympic Games,Male,André•Foussard,André•Foussard,"19 May 1899 in Niort, Deux-Sèvres (FRA)","18 March 1986 in Niort, Deux-Sèvres (FRA)",France,149225,166 cm,"Beauvoisine FC, Rouen (FRA)",...,NaN,NaN,NaN,NaN,NaN,André Foussard,166.0,NaN,19 May 1899,1899
145499,Non-starter • Administrator,Male,"William Berge ""Bill""•Phillips",Bill•Phillips,"15 July 1913 in Dulwich Hill, New South Wales ...","20 October 2003 in Sydney, New South Wales (AUS)",Australia,149814,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Bill Phillips,NaN,NaN,15 July 1913,1913

In [14]:
df[~df['Born'].str.match(date_pattern,na=False)]

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,...,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg,born_date,born_year
12,Competed in Olympic Games,Male,J.•Defert,J.•Defert,NaN,NaN,France,13,NaN,"Racing Club de France, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,J. Defert,NaN,NaN,NaN,NaN
13,Competed in Olympic Games,Male,Étienne•Durand,Étienne•Durand,NaN,NaN,France,14,NaN,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Étienne Durand,NaN,NaN,NaN,NaN
27,Competed in Olympic Games • Competed in Olympi...,Male,Guy•Lejeune,"Guy, Baron•Lejeune",NaN,NaN,France,28,NaN,NaN,...,Baron,NaN,NaN,NaN,NaN,"Guy, Baron Lejeune",NaN,NaN,NaN,NaN
28,Competed in Olympic Games,Male,Albert•Lippmann,Albert•Lippmann,NaN,NaN,France,29,NaN,"unattached, (MIX)",...,NaN,NaN,NaN,NaN,NaN,Albert Lippmann,NaN,NaN,NaN,NaN
108,Competed in Olympic Games,Male,Arthur B. J.•Norris,Arthur•Norris,NaN,NaN,Great Britain,109,NaN,"Queen's Club, London (GBR)",...,NaN,NaN,NaN,NaN,NaN,Arthur Norris,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126484,Competed in Olympic Games,Male,Werner•Fehr,Werner•Fehr,NaN,"8 September 1943 in Zürich, Zürich (SUI)",Switzerland,128839,NaN,"Grasshopper Club, Zürich (SUI)",...,NaN,NaN,NaN,NaN,NaN,Werner Fehr,NaN,NaN,NaN,NaN
135275,Competed in Olympic Games,Male,Aleko•Mulos,Aleko•Mulos,NaN,NaN,Türkiye,138438,NaN,"Lycée de Galatasaray, İstanbul (TUR)",...,Bey,NaN,NaN,NaN,NaN,Aleko Mulos,NaN,NaN,NaN,NaN
135280,Competed in Olympic Games,Male,Louis•Léstienne,Louis•Léstienne,NaN,NaN,France,138443,NaN,"La Roubaisienne, Roubaix (FRA)",...,NaN,NaN,NaN,NaN,NaN,Louis Léstienne,NaN,NaN,NaN,NaN
144129,Competed in Olympic Games,Male,René•Van Damme,René•Van Damme,NaN,NaN,Belgium,147802,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,René Van Damme,NaN,NaN,NaN,NaN
144132,Competed in Olympic Games,Male,Raphael•de Ligne,Raphael•de Ligne,NaN,NaN,Belgium,147805,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Raphael de Ligne,NaN,NaN,NaN,NaN

In [15]:
df[~df['Born'].str.match(date_pattern,na=False) & df['Born'].notna()]

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,...,Title(s),Other names,Nationality,Original name,Name order,name,height_cm,weight_kg,born_date,born_year
1251,Competed in Olympic Games,Male,Eduardo•Cornejo Díaz,Eduardo•Cornejo,(c. 1929),"23 November 1998 in Santiago, Santiago Metropo...",Chile,1258,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Eduardo Cornejo,NaN,NaN,1929,1929
1277,Competed in Olympic Games,Male,Manuel•Videla Castillo,Manuel•Videla,(circa 1920),NaN,Chile,1284,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Manuel Videla,NaN,NaN,1920,1920
1794,Competed in Olympic Games,Male,Luis•Castillo Sánchez,Luis•Castillo,"in Guayaquil, Guayas (ECU)",NaN,Ecuador,1801,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Luis Castillo,NaN,NaN,NaN,NaN
1800,Competed in Olympic Games,Male,Lincoln•Salcedo Reina,Lincoln•Salcedo,"in Guayaquil, Guayas (ECU)",NaN,Ecuador,1807,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Lincoln Salcedo,NaN,NaN,NaN,NaN
1805,Competed in Olympic Games,Male,Gharib Ibrahim•Afifi,Gharib•Afifi,"in Al-Qahira (Cairo), Al-Qahira (EGY)",(In the 1990s),Egypt,1812,NaN,"El-Olympi, Al-Iskanderiya (EGY)",...,NaN,NaN,NaN,غريب ابراهيم•عفيفي,NaN,Gharib Afifi,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86829,Competed in Olympic Games,Male,Charles•Jenny,Charles•Jenny,"April 1897 in Basel, Basel-Stadt (SUI)",NaN,Switzerland,87523,178 cm,NaN,...,NaN,NaN,NaN,NaN,NaN,Charles Jenny,178.0,NaN,1897,1897
100003,Competed in Olympic Games,Male,Gora Chand•Seal,Gora•Seal,January 1923,"23 September 2017 in Kolkata (Calcutta), West ...",India,100829,NaN,"Central Swimming Club, Kolkata (IND)",...,NaN,NaN,NaN,NaN,NaN,Gora Seal,NaN,NaN,1923,1923
101533,Competed in Olympic Games,Male,David Hey•Bratton,David•Bratton,"October 1869 in New York, New York (USA)","3 December 1904 in Chicago, Illinois (USA)",United States,102423,NaN,"NYAC, New York (USA)",...,NaN,NaN,NaN,NaN,NaN,David Bratton,NaN,NaN,1869,1869
101534,Competed in Olympic Games,Male,David A.•Hesser,David•Hesser,"January 1884 in ?, New York (USA)","13 February 1908 in Manhattan, New York, New Y...",United States,102424,NaN,"NYAC, New York (USA)",...,NaN,NaN,NaN,NaN,NaN,David Hesser,NaN,NaN,1884,1884
116330,Competed in Olympic Games,Female,Cha•Yong-Hwa,Cha•Yong-Hwa,"in Pyeongyang, Pyeongyang (PRK)",NaN,Democratic People's Republic of Korea,117719,145 cm / 39 kg,Pyongyang Sports Club,...,NaN,NaN,NaN,NaN,Oriental,Cha Yong-Hwa,145.0,39.0,NaN,NaN

In [16]:
# testing with small data testcases
small_data = pd.DataFrame(['1895 in Scotland', '12 December 1900 in Boston'], columns=['Born'])

date_pattern = r'(\d+ \w+ \d{4}|\d{4})'
small_data['born_date'] = df['Born'].str.extract(date_pattern)

small_data

                         Born         born_date
0            1895 in Scotland  12 December 1886
1  12 December 1900 in Boston      1 April 1969

In [17]:
df['born_date'] = pd.to_datetime(df['born_date'], format="mixed", errors='coerce')
df['born_year'] = pd.to_numeric(df['born_year'])

In [18]:
 
df['died_date'] = df['Died'].str.extract(date_pattern)
df['died_date'] = pd.to_datetime(df['died_date'], format="mixed", errors='coerce')

In [19]:
# Get city, region, and country from Born column
location_pattern = r'in ([\w\s()-]+), ([\w\s-]+) \((\w+)\)'
df['Born'].str.extract(location_pattern)

                      0                     1    2
0              Bordeaux               Gironde  FRA
1                Meulan              Yvelines  FRA
2              Biarritz  Pyrénées-Atlantiques  FRA
3           Paris VIIIe                 Paris  FRA
4            Wandsworth               England  GBR
...                 ...                   ...  ...
145495            Serov            Sverdlovsk  RUS
145496  Moskva (Moscow)                Moskva  RUS
145497           Kotlas           Arkhangelsk  RUS
145498            Niort           Deux-Sèvres  FRA
145499     Dulwich Hill       New South Wales  AUS

[145500 rows x 3 columns]

In [20]:
df[['born_city','born_region','born_country']] = df['Born'].str.extract(location_pattern, expand=True)

In [21]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

df.value_counts('born_city',ascending=False).head(25)

born_city
Budapest                          1378
Moskva (Moscow)                    883
Oslo                               708
Stockholm                          629
Praha (Prague)                     600
Toronto                            579
Wien (Vienna)                      547
Buenos Aires                       538
København (Copenhagen)             523
Sydney                             497
Montréal                           468
Berlin                             467
Ciudad de México (Mexico City)     455
Helsinki                           439
Rio de Janeiro                     433
Amsterdam                          429
Barcelona                          425
Melbourne                          417
New York                           416
Seoul                              405
São Paulo                          393
London                             386
Madrid                             379
Athina (Athens)                    348
Roma                               344
Name: count, dtype: int64

In [22]:
# Remove any unneccessary columns
df.columns

Index(['Roles', 'Sex', 'Full name', 'Used name', 'Born', 'Died', 'NOC',
       'athlete_id', 'Measurements', 'Affiliations', 'Nick/petnames',
       'Title(s)', 'Other names', 'Nationality', 'Original name', 'Name order',
       'name', 'height_cm', 'weight_kg', 'born_date', 'born_year', 'died_date',
       'born_city', 'born_region', 'born_country'],
      dtype='object')

In [23]:
columns_to_keep = ['athlete_id', 'name', 'born_date', 'born_city', 'born_region',
                   'born_country', 'NOC', 'height_cm', 'weight_kg', 'died_date']

df_clean = df[columns_to_keep]

In [24]:
df_clean.to_csv('./clean-data/bios.csv', index=False)

## Cleaning results data

In [1]:
import pandas as pd

results = pd.read_csv('results/results.csv')

/tmp/ipykernel_469441/2293983339.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  results = pd.read_csv('results/results.csv')

In [2]:
df = results.copy()

In [3]:
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN

### Cleaning to-do:
- [x] Split year and type from games
- [x] split out tied column from position
- [x] make non-numeric POSs NAN in Pos
- [x] drop unnamed column
- [x] Reorder columns

In [4]:
df['place'] = df['Pos'].str.extract(r'(\d+)')
df['tied'] = df['Pos'].str.contains("=")

In [5]:
df['medal_new'] = df["Medal"].map({"Bronze": 3, "Silver": 2, "Gold": 1})

In [6]:
df[['year', 'type']] = df['Games'].str.extract(r'(\d{4}) (Summer|Winter)', expand=True)

In [7]:
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,place,tied,medal_new,year,type
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,17,True,NaN,1912,Summer
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,NaN,False,NaN,1912,Summer
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,32,True,NaN,1920,Summer
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,8,True,NaN,1920,Summer
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,4,False,NaN,1920,Summer

In [8]:
df['year'] = pd.to_numeric(df['year'])

In [9]:
df.sort_values('year', ascending=False)

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,place,tied,medal_new,year,type
308407,2022 Winter Olympics,"Slalom, Women (Olympic)",NaN,24.0,NaN,Charlotta Säfvenberg,148986,NaN,NaN,NaN,NaN,24,False,NaN,2022.0,Winter
274176,2022 Winter Olympics,"Ice Hockey, Men (Olympic)",Latvia,11.0,NaN,Ronalds Ķēniņš,128130,LAT,Ice Hockey (Ice Hockey),NaN,NaN,11,False,NaN,2022.0,Winter
274171,2022 Winter Olympics,"Ice Hockey, Men (Olympic)",Latvia,DNS,NaN,Kristers Gudļevskis,128127,LAT,Ice Hockey (Ice Hockey),NaN,NaN,NaN,False,NaN,2022.0,Winter
274168,2022 Winter Olympics,"Ice Hockey, Men (Olympic)",Latvia,11,NaN,Ralfs Freibergs,128125,LAT,Ice Hockey (Ice Hockey),NaN,NaN,11,False,NaN,2022.0,Winter
274149,2022 Winter Olympics,"Four, Open (Olympic)",Latvia 1,5.0,NaN,Oskars Ķibermanis,128118,LAT,Bobsleigh (Bobsleigh),NaN,NaN,5,False,NaN,2022.0,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203177,1906 Intercalated Games,"Sabre, Individual, Men (Olympic)",NaN,5,NaN,Lóránt Mészáros,95189,HUN,Fencing,NaN,NaN,5,False,NaN,NaN,NaN
203178,1906 Intercalated Games,"Sabre, Team, Men (Olympic)",Hungary,4,NaN,Lóránt Mészáros,95189,HUN,Fencing,NaN,NaN,4,False,NaN,NaN,NaN
217586,1906 Intercalated Games,"Football, Men (Intercalated)",Athens,AC,NaN,Georgios Pantos,100811,GRE,Football (Football),NaN,NaN,NaN,False,NaN,NaN,NaN
217587,1906 Intercalated Games,"Football, Men (Intercalated)",Athens,AC,NaN,Alexandros Kalafatis,100812,GRE,Football (Football),NaN,NaN,NaN,False,NaN,NaN,NaN
271490,1906 Intercalated Games,"Platform, Men (Intercalated)",NaN,13.0,NaN,Wilhelm Lindgren,127259,SWE,Diving (Aquatics),NaN,NaN,13,False,NaN,NaN,NaN

In [10]:
df.columns

Index(['Games', 'Event', 'Team', 'Pos', 'Medal', 'As', 'athlete_id', 'NOC',
       'Discipline', 'Nationality', 'Unnamed: 7', 'place', 'tied', 'medal_new',
       'year', 'type'],
      dtype='object')

In [11]:
columns_to_keep = ['year','type','Discipline', 'Event', 'As', 'athlete_id', 'NOC', 'Team', 'place', 'tied', 'Medal']
df = df[columns_to_keep]

In [12]:
import janitor

In [13]:
df = df.clean_names()

In [14]:
df.to_csv('./clean-data/results.csv', index=False)

In [15]:
df['place'] = pd.to_numeric(df['place'])

In [16]:
df['tied'] = df['tied'].astype(bool)

In [17]:
df.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [18]:
df.to_csv('./clean-data/results.csv',index=False)

In [19]:
df = pd.read_csv('clean-data/bios.csv')

In [20]:
df

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20